<!-- double curly braces are Angular's interpolation binding syntax -->
<h1>{{title}}</h1>

<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <!--  A routerLink attribute is set to "/heroes", the string that the router matches to the route to HeroesComponent. The routerLink is the selector for the RouterLink directive that turns user clicks into router navigations. It's another of the public directives in the RouterModule.-->
  <a routerLink="/heroes">Heroes</a>
</nav>

<!--replace the <app-heroes> element with a <router-outlet> element.-->
<!--The AppComponent template no longer needs <app-heroes> because the app will only display the HeroesComponent when the user navigates to it.-->
<!--The <router-outlet> tells the router where to display routed views.-->
<!--The RouterOutlet is one of the router directives that became available to the AppComponent because AppModule imports AppRoutingModule which exported RouterModule. The ng generate command you ran at the start of this tutorial added this import because of the &#45;&#45;module=app flag. If you manually created app-routing.module.ts or used a tool other than the CLI to do so, you'll need to import AppRoutingModule into app.module.ts and add it to the imports array of the NgModule.-->
<!--<app-heroes></app-heroes>-->
<router-outlet></router-outlet>

<app-messages></app-messages>
